<div class="small-12 small-centered columns center-text">
  <h3>Step 1: Choose a Section</h3>
  <dl class="tabs section-tabs" data-tab>
    <% @sections.each do |section| %>
      <dd><%= link_to section.name, "#section-#{section.id}" %></dd>
    <% end %>
  </dl>
  <div class="tabs-content section-tabs-content">
    <% @sections.each do |section| %>
      <%= render 'active_foods_form', section: section %>
    <% end %>
  </div>
</div>
