<div class="small-12 medium-9 columns">
  <% @sections.each do |section| %>
    <div class="order">
      <%= link_to section_path(section), id: "section_#{section.id}" do %>
        <div class="small-8 small-left columns">
          <h1><%= section.name %></h1>
        </div>
        <div class="small-4 small-right columns">
          <h3><%= section.description %></h3>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
