<% @sections.each do |section| %>
  <div class="panel">
    <div class="row">
      <%= link_to section_path(section), id: "section_#{section.id}" do %>
        <div class="small-0 medium-4 medium-left columns">
          <p></p>
        </div>
        <div class="small-6 small-left medium-4 medium-left columns">
          <h1><%= section.name %></h1>
        </div>
        <div class="small-6 small-right medium-4 medium-right columns">
          <h3><%= section.description %></h3>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
