<div class='sections-content'>
  <% @sections.each do |section| %>
    <%= link_to section.name, '#', class: 'button' %>
    <!-- <div style= 'display:none'> -->
      <%= render 'order_form', section: section %>
    <!-- </div> -->
  <% end %>
</div>
