<table class="custom-light-background">
  <tr>
    <th>Food Item</th>
    <th>Customer</th>
    <th>Arrival Time</th>
  </tr>
  <tr>
    <td><%= @order.display_string %></td>
    <td><%= @order.user.full_name %></td>
    <td><%= @order.clean_arrival_time %></td>
  </tr>
</table>
