
development:
  adapter: postgresql
  encoding: unicode
  database: salem_cafe_development
  pool: 5
  username:
  password:

test:
  adapter: postgresql
  encoding: unicode
  database: salem_cafe_test
  pool: 5
  username:
  password:

production:
  adapter: postgresql
  encoding: unicode
  database: salem_cafe_production
  pool: 5
  username:
  password:
